@import "_vars.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "_libs.scss";
@import "_fonts.scss";
@import "_global.scss";
@import "_blocks/_header.scss";

@import "_blocks/_footer.scss";
@import "_media.scss";
