.map {
  padding: 40px 0 0;
  &__information {
    margin-bottom: 30px;
  }
  &__title {
    margin-bottom: 20px;
  }
  &__markers {
    margin-bottom: 65px;
  }
  &__marker {
    &:not(:last-child) {
      margin-right: 60px;
    }
  }
  &__marker-description {
    margin-left: 13px;
  }
  &__plane {
    width: 1440px;
    height: 664px;
    margin: 0 auto;
  }
  &__balloon {
    font-family: "Montserrat", sans-serif;
    color: #254152;
    padding: 20px 20px 0;
  }
  &__balloon-category {
    display: inline-block;
    font-weight: 600;
    padding-right: 5px;
  }
  &__balloon-address {
    margin-bottom: 20px;
  }
  &__balloon-info {
    margin-bottom: 20px;
  }
  &__balloon-finish-date {
    margin-bottom: 20px;
  }
  &__balloon-link {
    display: inline-block;
    color: #254152;
    margin-bottom: 20px;
    transition: all 0.3s;
    &:hover {
      color: #254152;
      text-decoration: underline;
    }
  }
}
